table
  width: 100%
  border: 1px solid white
  border-radius: 5px
  min-width: 320px

th.mat-header-cell
  margin-left: 10px
  padding-right: 25px

td.mat-cell
  padding-right: 25px

div.container
  margin-bottom: 20px
