<div class="container">
  <div class="form">
    <h3>Add New Student:</h3>
    <form action="">
      <p class="input">
        <span>
          *First name:
        </span><input type="text">
      </p>
      
      <p class="input">
        <span>
          *Last name
        </span><input type="text">
      </p>
      
      <p class="input">
        <span>
          Address:
        </span><input type="text">
      </p>
      
      <p class="input">
        <span>
          Description:
        </span><textarea name="" id="" cols="25" rows="5"></textarea>
      </p>

      <p class="ng-for" *ngFor='let inputName of inputNames'>{{INPUTNAMES}}</p>
      
      <button>Add</button>
    </form>
  </div>
</div>