<nav>
  <div class="header-nav">
    <button class="header-nav__button" routerLink="/students" [routerLinkActive]="'active'">{{ "Students" | translate }}</button>
    <button class="header-nav__button" routerLink="/subjects" [routerLinkActive]="'active'">{{ "Subjects" | translate }}</button>
    <button class="header-nav__button" routerLink="/statistics" [routerLinkActive]="'active'">{{ "Statistics" | translate }}</button>
    <button class="header-nav__button" routerLink="/export" [routerLinkActive]="'active'">{{ "Export" | translate}}</button>
  </div>
</nav>
