<div class="subject-page">
    <h4 class="subject-page__title" appHighlightOurMainColor>
        {{subjectName | uppercase | translate}}
    </h4>
    <app-button (click)="addDate(); $event.stopPropagation()" class="subject-page__app-button"></app-button>
    <div class="subject-page__subject-content">
        <table class="subject-page__subject-table">
          <thead>
            <tr>
              <td class="subect-page__suject-table cell">{{'First Name' | translate}}</td>
              <td class="subect-page__suject-table cell">{{'Last Name' | translate}}</td>
              <td class="subect-page__suject-table cell">{{'Average Mark' | translate}}</td>
              <td class="subect-page__suject-table cell input" *ngFor="let item of subject.journal; let i = index">
                  <input class="input-cell" [(ngModel)]="item.date" name="i">
              </td>
            </tr>
          </thead>
          <tr *ngFor="let student of subjectTable">
            <td class="subect-page__suject-table cell">{{student.firstName}}</td>
            <td class="subect-page__suject-table cell">{{student.lastName}}</td>
            <td class="subect-page__suject-table cell">{{student.averageMark}}</td>
            <td class="subect-page__suject-table cell" *ngFor="let el of subject.journal; let i = index">
                <input class="input-cell" [(ngModel)]="el.marks[student.index]" name="i">
            </td>
          </tr>
        </table>
    </div>
    <button mat-raised-button class="subject-page__button" (click)="saveSubjectTable(); $event.stopPropagation()">{{'Save' | translate}}</button>
</div>
