<div class="student-form">
  <div class="student-form__form">
    <form [formGroup]="myForm">
      <h3>Add New Student:</h3>
      <mat-form-field>
        <input class="student-form__input" matInput placeholder="First Name" formControlName="firstName" [errorStateMatcher]="matcher">
        <mat-error *ngIf="myForm.controls.firstName.hasError('pattern') && !myForm.controls.firstName.hasError('required')">
          Please input only <strong>letter</strong>
        </mat-error>
        <mat-error *ngIf="myForm.controls.firstName.hasError('required')">
          First Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <p></p>
      <mat-form-field>
        <input class="student-form__input" matInput placeholder="Last Name" formControlName="lastName" [errorStateMatcher]="matcher">
        <mat-error *ngIf="myForm.controls.lastName.hasError('pattern') && !myForm.controls.lastName.hasError('required')">
          Please input only <strong>letter</strong>
        </mat-error>
        <mat-error *ngIf="myForm.controls.lastName.hasError('required')">
          Last Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <p></p>
      <mat-form-field>
        <input class="student-form__input" matInput placeholder="Address" formControlName="address" >
      </mat-form-field>
      <p></p>
      <mat-form-field>
        <input class="student-form__input" matInput placeholder="Description" formControlName="description">
      </mat-form-field>
      <p></p>
      <button class="student-form__button" mat-raised-button type="submit" (click)=saveData()>Save</button>
      <p></p>
    </form>
  </div>
</div>
<router-outlet></router-outlet>
