<div class="student-form">
    <div class="student-form__form">
      <h3>Add New Student:</h3>
      <form ngNativeValidate>
        
        <p class="student-form__input">
          <span>
            *First Name:
          </span><input type="text" required [(ngModel)]="currentStudent.firstName" name="First Name">
        </p>

        <p class="student-form__input">
          <span>
            *Last Name:
          </span><input type="text" required [(ngModel)]="currentStudent.lastName" name="Last Name">
        </p>

        <p class="student-form__input">
          <span>
            Address:
          </span><input type="text" required [(ngModel)]="currentStudent.address" name="Address">
        </p>
  
        <p class="student-form__input">
          <span>
            Description:
          </span><textarea cols="25" rows="5" (input)="currentStudent.description=$event.target.value"></textarea>
        </p>
        
        <button type="submit" (click)=saveData()>Add</button>
      </form>
    </div>
  </div>
  <router-outlet></router-outlet>
