/* You can add global styles to this file, and also import other style files */
$font-stack: Ubuntu Mono, sans-serif
$main-color: #fb6704
    
html
    font: 100% $font-stack
    background: black
    color: white