div.container
  display: flex
  align-items: center
  flex-direction: column
  margin: 0 auto
  min-width: 320px
  padding: 20px

i.fa
  font-size: 200%

button
  border-radius: 50%
  border: none
  background: #ffffff
  height: 40px
  width: 40px

